:root {
  --required: #FF8190;
  --prio-red: #ff3d00;
  --prio-orange: #ffa800;
  --prio-green: #7ae229;
  --hover: #eeeeee;
  --checkt: #091931;

  
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.height {
  height: 100%;
}
.width100 {
  width: 100%;
}

.gab8px {
  gap: 8px;
}

.display-none{
display: none;
}
.required{
  color:red ;
}

.input-icon {
  position: absolute;

  margin-right: 16px;
  cursor: pointer;
 
}



/* -------------hover */
.hover-blue:hover{
  border: 1px solid var(--color-light-blue);
  cursor: pointer;
}



.relativ:hover .width100,
.flex-reverse:hover .width100 {
  border: 1px solid var(--color-light-blue); 
}


.add-task-section {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.add-task-headline {
  display: flex;
}

.main-content-add-task {
  padding: 16px 0 0 0;
}

.add-task-form-content {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.add-task-form {
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.form-left,
.form-right {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 100%;
}
.form-middle {
  display: flex;
  border: 1px solid rgba(209, 209, 209, 1); 
}

.description {
  display: flex;
  flex-direction: column;
 
}
.description textarea {
  display: block;
  resize: vertical;
  min-height: fit-content;
}

.description textarea {
  height: 120px;
  border-radius: 10px;
  border: 1px solid var(--color-light-gray);
  padding: 8px 16px;
  font-family: Inter, sans-serif;
  color: black;
  font-size: 20px;
  outline: none;
}

.description textarea:focus {
  border-color: var(--contact-color-aqua);
}

.add-task-form-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}
/* ----------------dueDate */

/* Wrapper-Stil */
.date-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; 
}


.date-wrapper input[type="date"] {
appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
   cursor: pointer;
}


.date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


.date-wrapper input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}


.date-wrapper .date-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px; 
  height: 24px;
  cursor: pointer;
  pointer-events: all; 
}



/* Prio section  */
.radio {
  width: auto;
  height: auto;
}

.add-task-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  flex-grow: 1;
}
.radio-container {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s ease;
  font-size: 21px;
  padding: 16px 10px;
  flex-grow: 1;
  min-width: 132px;
}

.add-task-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: auto;
  flex-grow: 1;
}

.add-task-container:hover  {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.radio-container label:nth-of-type(1) input:checked ~ .checkmark {
  background-color: var(--prio-red);
  color: white;
  border: none;
}
#prio-image-urgent {
  background-image: url("/assets/icons/priority-urgent.svg");
  background-size: contain;
  width: 20px;
  height: 14.51px;
  background-repeat: no-repeat;
  background-position: center;
}

#prio-imag-mediumt {
  background-image: url("/assets/icons/priority-medium.svg");
  background-size: contain;
  width: 20px;
  height: 14.51px;
  background-repeat: no-repeat;
  background-position: center;
}

#prio-imag-low {
  background-image: url("/assets/icons/priority-low.svg");
  background-size: contain;
  width: 20px;
  height: 14.51px;
  background-repeat: no-repeat;
  background-position: center;
}

.radio-container label:nth-of-type(1) input:checked ~ span #prio-image-urgent {
  background-image: url("/assets/icons/priority-urgent-white.svg");
}

.radio-container label:nth-of-type(2) input:checked ~ .checkmark {
  background-color: var(--prio-orange);
  color: white;
  border: none;
}

.radio-container label:nth-of-type(2) input:checked ~ span #prio-imag-mediumt {
  background-image: url("/assets/icons/priority-medium-white.svg");
}

.radio-container label:nth-of-type(3) input:checked ~ .checkmark {
  background-color: var(--prio-green);
  color: white;
  border: none;
}

.radio-container label:nth-of-type(3) input:checked ~ span #prio-imag-low {
  background-image: url("/assets/icons/priority-low-white.svg");
}
/* -------------------------------------------------category */

.flex-reverse {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-reverse .select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flex-reverse .select-trigger:hover {
  border: 1px solid var(--color-light-blue);
}



/* Dropdown-Optionen */
.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

.select-options.open {
  display: block;
}

/* Einzelne Option */
.select-options .select-option {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.select-options .select-option:hover {
  background-color: var(--hover);
}


/* ----------------------------------------------------subtask */

.subtask{
  position: relative;
}
.subtask input {
  padding-right: 67px !important;
}
ul{
  position: relative;
}
.list-styl {
  list-style: none; 
  padding-left: 0; 
}

.list-styl li {
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  
}

.list-styl li::before {
  content: '•'; 
  position: absolute; 
  color: black; 
  
  
 
}
.list-container{
  padding-left: 15px;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.option-container {
  display: flex; 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.subtask li:hover .option-container {
  opacity: 1; 
  visibility: visible; 
}

.option-container img:hover {
  display: flex;
}

.list-styl li:hover{
  background-color: var(--hover);
  transition: all 0.3s ease;
}


.task-text {
  flex: 1; 
  white-space: normal; 
  overflow-wrap: anywhere; 
}



.add-task-button1{
  display: flex;
 align-items: center;
 justify-content: center;
 background-color: white !important;
 color: black !important;
 border: 1px solid black !important;
}

.add-task-button1:hover {
  color: var(--color-light-blue) !important;
  border: 1px solid var(--color-light-blue) !important; 
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
}
.add-task-button2{
  display: flex;
align-items: center;
justify-content: center;
background-color: white;


}


.add-task-form-buttons button {
  height: 48px;
  padding: 8px 16px;
  border-radius: 8px;
  border: unset;
  text-wrap: nowrap;
  font-family: Inter, sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: var(--bg-white);
  background-color: var(--primary-blue);
  cursor: pointer;
}
.add-task-button2:hover {
  background-color: var(--color-light-blue);
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
}


.button-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  
}

.add-task-button1:hover .button-icon {
  background-image: url('/assets/icons/iconoir-cancel-blu.svg');
}

.form-bottom{
  width: 100%;
  justify-content: space-between;
}

.required-text{
width: 100%;
display: flex;
align-items: center;
}


@media (max-width: 820px){
  .required-text{
    display: none;
  }
}

@media (max-width: 768px) {
  .add-task-form-content {
    flex-direction: column;
    align-items: center;
  }
  .add-task-form-buttons{
  margin-bottom: 30px;
  }
}

@media (max-width: 400px){

  .add-task-form-buttons{
    flex-direction: column;
  }

}


