:root {
  --required: #FF8190;
  --prio-red: #ff3d00;
  --prio-orange: #ffa800;
  --prio-green: #7ae229;
  --hover: #eeeeee;
  --checkt: #091931;

  
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-center {
  display: flex;
  justify-content: center;
 
}
.height {
  height: 100%;
}
.width100 {
  width: 100%;
}

.gab8px {
  gap: 8px;
}

.display-none{
display: none;
}
.required{
  color:red ;
}

.input-icon {
  position: absolute;

  margin-right: 16px;
  cursor: pointer;
 
}
.pointer-events-none{
  pointer-events: none;
}

.toast-container {
align-items: center;
justify-content: center;
  top: 50%;
  width: 100%;
  height: 61px;
  padding-left: 232px;
}


#required-title , #required-date ,#required-category{
  padding: 0 16px;
  font-size: 12px;
}


.hover-shadow:hover{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
 
}
.cursor-pointer:hover{
  cursor: pointer;
}

.padding-right50px{
  padding-right: 50px !important;
}



.add-task-section {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.add-task-headline {
  display: flex;
}

.main-content-add-task {
  padding: 16px 0 0 0;
}

.add-task-form-content {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.add-task-form {
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.form-left,
.form-right {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 100%;
}
.form-middle {
  display: flex;
  border: 1px solid rgba(209, 209, 209, 1); 
}

.description {
  display: flex;
  flex-direction: column;
 
}
.description textarea {
  display: block;
  resize: vertical;
  min-height: fit-content;
}

.description textarea {
  height: 120px;
  border-radius: 10px;
  border: 1px solid var(--color-light-gray);
  padding: 8px 16px;
  font-family: Inter, sans-serif;
  color: black;
  font-size: 20px;
  outline: none;
}

.description textarea:focus {
  border-color: var(--contact-color-aqua);
}

.add-task-form-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}
/* ----------------dueDate */

/* Wrapper-Stil */
.date-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; 
}


.date-wrapper input[type="date"] {
appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
   cursor: pointer;
}


.date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


.date-wrapper input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}


.date-wrapper .date-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px; 
  height: 24px;
  cursor: pointer;
  pointer-events: all; 
}








.add-task-button1{
  display: flex;
 align-items: center;
 justify-content: center;
 background-color: white !important;
 color: black !important;
 border: 1px solid black !important;
}

.add-task-button1:hover {
  color: var(--color-light-blue) !important;
  border: 1px solid var(--color-light-blue) !important; 
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
}
.add-task-button2{
  display: flex;
align-items: center;
justify-content: center;
background-color: white;


}


.add-task-form-buttons button {
  height: 48px;
  padding: 8px 16px;
  border-radius: 8px;
  border: unset;
  text-wrap: nowrap;
  font-family: Inter, sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: var(--bg-white);
  background-color: var(--primary-blue);
  cursor: pointer;
}
.add-task-button2:hover {
  background-color: var(--color-light-blue);
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
}


.button-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  
}

.add-task-button1:hover .button-icon {
  background-image: url('/assets/icons/iconoir-cancel-blu.svg');
}

.form-bottom{
  width: 100%;
  justify-content: space-between;
}

.required-text{
width: 100%;
display: flex;
align-items: center;
}

#button-creat:disabled, #button-clear:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
  opacity: 0.8; 
}


@media (max-width: 850px) and (min-width: 768px) {
  .badge {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }

  .checkbox-content {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}




@media (max-width: 853px) {
  .add-task-form-content {
    flex-direction: column;
    align-items: center;
  }
  .add-task-form-buttons{
  margin-bottom: 30px;
  }
  .toast-container{
    padding: 0;
  }
    .required-text{
    display: none;
  }
}

@media (max-width: 400px){

  .add-task-form-buttons{
    flex-direction: column;
  }

}


