:root {
    --primary-blue: #2A3647;

    --bg-color: #F6F7F8;
    --bg-white: #FFFFFF;
    --bg-color-dark-blue: #091931;
    --bg-color-blue: #0C2E62;
    --bg-color-blue-rgb: 12, 46, 98;
    --bg-color-blue-hover: #2A3D59;
    --bg-color-orange: #FF3D00;

    --color-light-blue: #29abe2;
    --color-light-gray: #D1D1D1;
    --color-gray: #A8A8A8;
    --color-blue: #007CEE;

    --contact-color-orange: #FF7A00;
    --contact-color-pink: #FF5EB3;
    --contact-color-lavender: #6E52FF;
    --contact-color-violet: #9327FF;
    --contact-color-aqua: #00BEE8;
    --contact-color-tropical: #1FD7C1;
    --contact-color-coral: #FF745E;
    --contact-color-peach: #FFA35E;
    --contact-color-magenta: #FC71FF;
    --contact-color-gold: #FFC701;
    --contact-color-blue: #0038FF;
    --contact-color-lime: #C3FF2B;
    --contact-color-purple: #462f8a;
    --contact-color-crimson: #FF4646;
    --contact-color-honey: #FFBB2B;
}

body {
    visibility: hidden;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Inter, sans-serif;
}

body>:first-child {
    height: 100%;
}

a {
    color: var(--color-gray);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 27px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 27px;
    font-weight: 100;
}

h5 {
    font-size: 47px;
    font-weight: 500;
}

.logo-little {
    height: 122px;
    width: 100px;
}

.logo-mini {
    height: 56px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
}

.bg-color-sidebar {
    background: var(--primary-blue);
}

.sidebar-container {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 120px;
}

.sidebar-mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.links-container a {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 48px;
    gap: 16px;
}

.links-container a:hover {
    background-color: var(--bg-color-blue-hover);
}

a.current {
    background-color: var(--bg-color-dark-blue);
    color: var(--bg-white);
}

a.current:hover {
    background-color: var(--bg-color-dark-blue);
    cursor: default;
}

.links-container a.current img {
    filter: brightness(0) invert(1);
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar-footer a:hover {
    cursor: pointer;
    color: var(--color-light-blue);
    transform: scale(1.05);
    transition: all 125ms ease-in-out;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background: var(--bg-white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 48px 0 120px;
}

.headline {
    font-size: 24px;
    font-weight: 300;
}

.img-help:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 125ms ease-in-out;
}

.user-icon-container {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 3px solid var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-container:hover {
    cursor: pointer;
    background-color: rgba(var(--bg-color-blue-rgb), 0.12);
}

.initials {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-light-blue);
}

.user-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 100px;
    right: -164px;
    width: 160px;
    z-index: 2;
    background-color: var(--primary-blue);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 20px 0 20px 20px;
    font-size: 16px;
    transform: translateX(0);
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.user-menu-container a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 8px;
}

.user-menu-container a:hover {
    cursor: pointer;
    background-color: var(--bg-color-blue-hover);
    transform: scale(1.05);
    transition: all 125ms ease-in-out;
}

.user-menu-container.visible {
    transform: translateX(-180px);
    opacity: 1;
    pointer-events: auto;
}

.user-menu-container.hidden {
    transform: translateX(0);
    opacity: 0;
    pointer-events: none;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.main-content>section {
    flex: 1;
    overflow-y: auto;
}

.light-box-shadow {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.t-125 {
    transition: all 125ms ease-in-out;
}

.pos-rel {
    position: relative;
}

@media (max-width: 768px) {
    .navbar-header {
        padding: 24px;
    }

    .headline {
        display: none;
    }

    .img-help {
        display: none;
    }

    .logo-header {
        width: 60px;
    }

    .sidebar-container {
        height: 100px;
        width: 100%;
        flex-direction: row;
        padding: 12px;
        gap: 0;
    }

    body>:first-child {
        flex-direction: column-reverse;
    }

    .sidebar-mainbox {
        flex-direction: row;
    }

    .logo-little {
        display: none;
    }

    .links-container {
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 16px;
    }

    .links-container a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 8px;
        height: 100%;
        width: 100%;
    }

    .sidebar-footer {
        display: none;
    }

    a.current {
        border-radius: 12px;
    }
}

@media (max-width: 480px) {
    .navbar-header {
        height: 80px;
        padding: 24px;
    }

    .headline {
        display: none;
    }

    .img-help {
        display: none;
    }

    .logo-header {
        width: 40px;
    }

    .sidebar-container {
        height: 80px;
        padding: 8px;
    }

    .sidebar-mainbox {
        flex-direction: row;
    }

    .logo-little {
        display: none;
    }

    .header-login {
        margin-left: unset;
    }

    .links-container {
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 8px;
        font-size: 14px;
    }

    .links-container a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 8px;
        height: 100%;
        width: 100%;
    }

    .sidebar-footer {
        display: none;
    }

    a.current {
        border-radius: 12px;
    }

    .user-menu-container {
        top: 80px;
    }
}

@media (min-width:769px) {
    .logo-header {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .navbar-header {
        padding: 0 48px 0 64px;
    }
}