:root {
    --primary-blue: #2A3647;

    --bg-color: #F6F7F8;
    --bg-white: #FFFFFF;

    --color-light-blue: #29ABE2;
    --color-light-gray: #D1D1D1;
    --color-gray: #A8A8A8;
    
}

body {
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--color-gray);
}

.logo-little {
    height: 122px;
    width: 100px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
}

.bg-color-sidebar {
    background: var(--primary-blue);
}

.sidebar-container {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 120px;
}

.sidebar-mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}