<nav class="navbar-header">
    <img class="logo-header" src="/assets/icons/join-logo.svg" alt="Join">
    <p class="headline">Kanban Poject Management Tool</p>
    <div id="account-menue" class="d-flex gap-24">
        <a href="/html/help.html" class="d-flex-c-c">
            <img class="img-help" src="/assets/icons/help.svg" alt="Help">
        </a>
        <div class="user-icon-container" onclick="toggleUserMenu()">
            <span id="user-initials" class="initials">G</span>
        </div>
        <div class="user-menu-container hidden" id="userMenu">
            <a href="/html/help.html" onclick="redirectWithLoginInfo(event, '/html/help.html')">Help</a>
            <a href="/html/legal-notice.html" onclick="redirectWithLoginInfo(event, '/html/legal-notice.html')">Legal Notice</a>
            <a href="/html/privacy-policy.html" onclick="redirectWithLoginInfo(event, '/html/privacy-policy.html')">Privacy Policy</a>
            <a href="/index.html" id="logOutFlyout" onclick="logOut()">Log out</a>
        </div>
    </div>
</nav>