<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="">
            <img src="./assets/icons/join-logo.svg" class="logo" alt="Join">
        </div>
        <div>
            <p>Not a Join user?</p>
            <button onclick="window.location.href='./signup.html'">Sign up</button>
        </div>
    </header>
    <main>
        <h1>Log in</h1>
        <form onsubmit="logIn()">
            <input required type="email" id="email" placeholder="Email">
            <input required type="password" id="password" placeholder="Password">
            <input type="checkbox" name="remember-me" id="">
            <div>
                <button>Log in</button>
                <button>Guest Log in</button>
            </div>
        </form>
    </main>
    <footer>
        <p>Privacy Policy</p>
        <p>Legal Notice</p>
    </footer>
</body>
</html>