<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="../icons/join-favicon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/styles/assets.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/log-in.css">
    <link rel="stylesheet" href="/styles/scrollbar.css">
    <link rel="stylesheet" href="/styles/standard.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script/log-in.js"></script>
    <script src="/script/register.js"></script>
    <script src="/script/templates.js"></script>
    <script src="/script.js"></script>

</head>
<body>
    <header>
        <div class="">
            <img src="/assets/icons/join-logo.svg" class="logo-little" alt="Join">
        </div>
    </header>
    <main>
        <h1>Sign up</h1>
        <form onsubmit="addUser(); return false;">
            <input required type="text" id="user" placeholder="Name">
            <input required type="email" id="email" placeholder="Email">
            <input required type="password" id="password" placeholder="Password">
            <input type="password" id="confirmPassword" placeholder="Confirm Password">
            <input type="checkbox" name="remember-me" id="">
            <button class="button">Sign up</button>
        </form>
    </main>
    <footer>
        <p>Privacy Policy</p>
        <p>Legal Notice</p>
    </footer>
</body>
</html>