<div class="bg-color-sidebar sidebar-container">
    <img class="logo-little" src="/assets/icons/join-logo-white.svg" alt="Join">
    <div class="sidebar-mainbox">
        <nav class="links-container" id="sidebar-main" onload="guestsLimitation()">
            <a href="/html/summary.html" onclick="redirectWithLoginInfo(event, '/html/summary.html')"><img
                    src="/assets/icons/summary.svg" alt="Summary">Summary</a>
            <a href="/html/add-task.html" onclick="redirectWithLoginInfo(event, '/html/add-task.html')"><img
                    src="/assets/icons/edit-square.svg" alt="Add Task">Add Task</a>
            <a href="/html/board.html" onclick="redirectWithLoginInfo(event, '/html/board.html')"><img
                    src="/assets/icons/board.svg" alt="Board">Board</a>
            <a href="/html/contacts.html" onclick="redirectWithLoginInfo(event, '/html/contacts.html')"><img
                    src="/assets/icons/contact-calendar.svg" alt="Contacts">Contacts</a>
        </nav>
        <footer class="sidebar-footer">
            <a href="/html/privacy-policy.html"
                onclick="redirectWithLoginInfo(event, '/html/privacy-policy.html')">Privacy Policy</a>
            <a href="/html/legal-notice.html" onclick="redirectWithLoginInfo(event, '/html/legal-notice.html')">Legal
                Notice</a>
        </footer>
    </div>
</div>