<div class="bg-color-sidebar sidebar-container">
    <img class="logo-little" src="/assets/icons/join-logo-white.svg" alt="Join">
    <div class="sidebar-mainbox">
        <nav class="links-container" id="sidebar-main">
            <a href="/html/summary.html">
                <img src="/assets/icons/summary.svg" alt="Summary">
                <span>Summary</span>
            </a>
            <a href="/html/add-task.html">
                <img src="/assets/icons/edit-square.svg" alt="Add Task">
                <span>Add Task</span>
            </a>
            <a href="/html/board.html">
                <img src="/assets/icons/board.svg" alt="Board">
                <span>Board</span>
            </a>
            <a href="/html/contacts.html">
                <img src="/assets/icons/contact-calendar.svg" alt="Contacts">
                <span>Contacts</span>
            </a>
        </nav>
        <footer class="sidebar-footer">
            <a href="/html/privacy-policy.html">Privacy Policy</a>
            <a href="/html/legal-notice.html">Legal Notice</a>
        </footer>
    </div>
</div>