<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="icon" href="../icons/join-favicon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/styles/assets.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/log-in.css">
    <link rel="stylesheet" href="/styles/scrollbar.css">
    <link rel="stylesheet" href="/styles/standard.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script/log-in.js"></script>
    <script src="/script/register.js"></script>
    <script src="/script/templates.js"></script>
    <script src="/script.js"></script>

</head>
<body>
    <div class="bg-color-sidebar sidebar-container">
        <div class="logo-little">
            <img src="/assets/icons/join-logo-white.svg" alt="Join">
        </div>
        <div class="sidebar-mainbox">
            <div class="links-container">
                <a href="/assets/templates/summary.html" class="d-flex-c-c gap-16"><img src="/assets/icons/summary.svg" alt="Summary">Summary</a>
                <a href="/assets/templates/add-task.html" class="d-flex-c-c gap-16"><img src="/assets/icons/edit-square.svg" alt="Add Task">Add Task</a>
                <a href="/assets/templates/board.html" class="d-flex-c-c gap-16"><img src="/assets/icons/board.svg" alt="Board">Board</a>
                <a href="/assets/templates/contacts.html" class="d-flex-c-c gap-16"><img src="/assets/icons/contact-calendar.svg" alt="Contacts">Contacts</a>
            </div>
            <div class="sidebar-footer">
                <a href="/assets/templates/privacy-policy.html" class="">Privacy Police</a>
                <a href="/assets/templates/legal-notice.html" class="">Legal notice</a>
            </div>
        </div>
    </div>
    
</body>
</html>