<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="icon" href="../icons/join-favicon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/styles/assets.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/log-in.css">
    <link rel="stylesheet" href="/styles/scrollbar.css">
    <link rel="stylesheet" href="/styles/standard.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script/includes.js"></script>
    <script src="/script/log-in.js"></script>
    <script src="/script/register.js"></script>
    <script src="/script/templates.js"></script>
    <script src="/script.js"></script>

</head>
<body onload="includeHTML();">
    <div w3-include-html="sidebar.html">
        <p>Die Sidebar konnte nicht geladen werden.</p>
    </div>
    <section class="summary">
        <header class="summary">
            <h1>Join 360</h1>
            <div class="sideline-blue"></div>
            <p>Key Metrics at a Glance</p>
        </header>
        <main>
            <div class="summary-content">
                <div>
                    <div>
                        <img src="" alt="">
                        <div>
                            <span id="openTodos"></span>
                            <p>To-do</p>
                        </div>
                    </div>
                    <div>
                        <img src="" alt="">
                        <div>
                            <span id="doneTodos"></span>
                            <p>Done</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="" alt="">
                        <div>
                            <span id="urgentTodos"></span>
                            <p>Urgent</p>
                        </div>
                    </div>
                    <div class="sideline-gray"></div>
                    <div>
                        <span id="date">October 16, 2022</span>
                        <p>Upcoming Deadline</p>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="summary-greetings">
                <h2>Good Morning</h2>
                <span id="userName"></span>
            </div>
        </main>
    </section>

</body>
</html>