<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="icon" href="../icons/join-favicon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/styles/assets.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/log-in.css">
    <link rel="stylesheet" href="/styles/scrollbar.css">
    <link rel="stylesheet" href="/styles/standard.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script/log-in.js"></script>
    <script src="/script/register.js"></script>
    <script src="/script/templates.js"></script>
    <script src="/script.js"></script>

</head>
<body>
    
</body>
</html>