:root {
    --color-shadow-blue: #42526E;
    --bg-color-gray: #EEEEEE;
    --bg-color-gray-darker: #E7E7E7;
}

.board {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

section {
    padding: 16px 64px;
}

.board-header {
    margin-top: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.search-wrapper {
    position: relative;
    margin-left: auto;
    width: 312px;
}

.search {
    width: 100%;
    padding-right: 64px;
}

.search-wrapper:focus-within {
    flex: 1;
    max-width: 500px;
}

.search-vertical-separator {
    position: absolute;
    right: 64px;
    top: 8px;
    height: 32px;
    width: 1px;
    background-color: var(--color-light-gray);
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 8px;
}

.board-tasks {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 26px;
}

.column-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.column-title {
    color: var(--color-shadow-blue);
    font-size: 20px;
}

.plus-button {
    user-select: none;
}

.column-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* min-height: 240px; */
}

.ui-icon:hover,
.ui-icon:focus {
    outline: none;
    filter: brightness(0) saturate(100%) invert(63%) sepia(14%) saturate(2444%) hue-rotate(157deg) brightness(91%) contrast(95%);
    cursor: pointer;
}

.dashed-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    text-align: center;
    padding: 12px 16px;
    background-color: var(--bg-color-gray-darker);
    box-shadow: 0 0 4px 1px var(--bg-color-gray-darker);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23A8A8A8' stroke-width='2' stroke-dasharray='4 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
}

.drop-offer {
    height: 240px;
}

.ghost {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: rotate(5deg);
}

.grey-out {
    opacity: 0.7;
    background-color: white;
}

.move-task-ui {
    width: clamp(0px, 500px, 100%);
    padding: 64px;
    border-radius: 30px;
    background-color: var(--primary-blue);
    color: white;
    text-align: center;
    user-select: none;
}

.move-task-headline {
    font-size: 40px;
    margin-bottom: 32px;
}

.choose-task-state {
    padding: 12px 16px !important;
    color: white;
}

.choose-task-state:hover {
    color: var(--color-light-blue);
    font-weight: bolder;
}

@media (max-height: 800px),
(max-width:1100px) {
    .board {
        overflow-y: unset;
    }

    .main-content {
        overflow-y: auto;
    }
}

@media (max-width: 1100px) {
    .board-header>:nth-child(2) {
        order: 3;
        width: 100%;
        margin-left: unset;
    }

    .board-header {
        justify-content: space-between;
        gap: 16px;
    }

    #search {
        width: 100%;
    }
}

@media (max-width: 768px) {
    section {
        padding: 32px 32px 32px 16px;
    }

    .board-header {
        margin-top: unset;
    }
}

@media (max-width: 680px) {
    .board-tasks {
        grid-template-columns: minmax(250px, 1fr);
    }

    .column-body {
        flex-direction: row;
        overflow-x: auto;
        scrollbar-width: none;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    section {
        padding: 32px 16px 16px 16px;
    }
}

@media (max-width: 420px) {
    .board-header>button>span {
        display: none;
    }

    .move-task-ui {
        padding: 64px 32px;
    }
}