:root {
  --prio-red: #ff3d00;
  --prio-orange: #ffa800;
  --prio-green: #7ae229;
}

.add-task-section {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.with440px {
  width: 440px;
}
.add-task-headline {
  display: flex;
  padding: 86px 86px 0 100px;
}

.main-content-add-task {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.add-task-form {
  flex-direction: column;
  max-width: 1140px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.form-left {
  display: flex;
  gap: 32px;
  flex-direction: column;
  max-width: 440px;
}
.form-middle {
  display: flex;
  border: 1px solid rgba(209, 209, 209, 1);
}
.form-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 440px;
}

.description {
  display: flex;
  flex-direction: column;
}

.description textarea {
  max-width: 440px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid var(--color-light-gray);
  padding: 8px 16px;
  font-family: Inter, sans-serif;
  color: black;
  font-size: 20px;
  outline: none;
}

.description textarea:focus {
  border-color: var(--contact-color-aqua);
}

.add-task-form-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}

.add-task-form-content {
  display: flex;
  gap: 16px;
}

/* ----assigned */
.add-flex {
  display: flex;
  flex-direction: column;
}
.multiselect input {
  width: 24px;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #D1D1D1 solid;
}

#checkboxes label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  
}

.patch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: -5px;
  border: 2px solid white;
  border-radius: 16px;
  background-color: #4589ff;
  color: white;
  font-size: 12px;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

/* -----radio */
.radio {
  width: auto;
  height: auto;
}
.radio-container {
  display: flex;
  justify-content: space-between;
}

.add-task-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.gab-prio {
  margin: 0 16px;
}
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 56px;
  width: 136px;
  line-height: 56px;
  text-align: center;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 4px;
  background-color: white;
  transition: all 0.3s ease;
  font-size: 21px;
  padding: 16px 10px;
}

.add-task-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: auto;
}

.add-task-container:hover input ~ .checkmark {
  box-shadow: rgba(0, 0, 0, 0.1);
}

.radio-container label:nth-of-type(1) input:checked ~ .checkmark {
  background-color: var(--prio-red);
  color: white;
  border: none;
}
#prio-image-urgent {
  background-image: url("/assets/icons/priority-urgent.svg");
  background-size: contain;
  width: 20px;
  height: 14.51px;
  background-repeat: no-repeat;
  background-position: center;
}

#prio-imag-mediumt {
  background-image: url("/assets/icons/priority-medium.svg");
  background-size: contain;
  width: 20px;
  height: 14.51px;
  background-repeat: no-repeat;
  background-position: center;
}

#prio-imag-low {
  background-image: url("/assets/icons/priority-low.svg");
  background-size: contain;
  width: 20px;
  height: 14.51px;
  background-repeat: no-repeat;
  background-position: center;
}

.radio-container label:nth-of-type(1) input:checked ~ span #prio-image-urgent {
  background-image: url("/assets/icons/priority-urgent-white.svg");
}

.radio-container label:nth-of-type(2) input:checked ~ .checkmark {
  background-color: var(--prio-orange);
  color: white;
  border: none;
}

.radio-container label:nth-of-type(2) input:checked ~ span #prio-imag-mediumt {
  background-image: url("/assets/icons/priority-medium-white.svg");
}

.radio-container label:nth-of-type(3) input:checked ~ .checkmark {
  background-color: var(--prio-green);
  color: white;
  border: none;
}

.radio-container label:nth-of-type(3) input:checked ~ span #prio-imag-low {
  background-image: url("/assets/icons/priority-low-white.svg");
}

.add-task-form-buttons button {
  height: 48px;
  padding: 8px 16px;
  border-radius: 8px;
  border: unset;
  text-wrap: nowrap;
  font-family: Inter, sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: var(--bg-white);
  background-color: var(--primary-blue);
}
.add-task-form-buttons button:hover {
  background-color: var(--color-light-blue);
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
}
