.logo {
    height: 334px;
    width: 274px;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--color-gray);
    font-size: 16px;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 64px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h1 {
    font-size: 60px;
}

.underline {
    height: 3px;
    width: 150px;
    background-color: var(--color-light-blue);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

input {
    height: 48px;
    width: 422px;
    border-radius: 10px;
    border: 1px solid var(--color-light-gray);
    padding: 12px 22px;
    color: var(--color-light-gray);
    font-size: 20px;
}

input::placeholder {
    color: var(--color-light-gray);
    letter-spacing: 2px;
}

.input-email {
    background: url(/assets/icons/mail.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
}

.input-password {
    background: url(/assets/icons/lock.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
}

.input-name {
    background: url(/assets/icons/person.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
}

.input-checkbox {
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border-color: var(--primary-blue);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    width: 100%;
}

.button {
    background-color: var(--primary-blue);
    color: var(--bg-white);
    font-size: 21px;
    min-width: 110px;
    max-width: 126px;
    height: 48px;
    border-radius: 8px;
    border: unset;
}

.button-2 {
    background-color: var(--bg-white);
    color: var(--primary-blue);
    font-size: 21px;
    min-width: 177px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--primary-blue);
}

.button:hover, .button-2:hover {
    cursor: pointer;
}

.sideline-blue {
    height: 60px;
    width: 3px;
    background-color: var(--color-light-blue);
    border-radius: 8px;
}

h4 {
    font-size: 27px;
    font-weight: 100;
}