.section-contacts {
    display: flex;
}

.add-new-contact-btn-desktop {
    width: clamp(200px, 90%, 352px);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.add-new-contact-btn-mobile {
    position: fixed;
    bottom: 124px;
    right: 24px;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 100%, 456px);
    background-color: var(--bg-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    gap: 16px;
    padding-top: 16px;
}

.contact-list-container {
    overflow-y: auto;
    /* Vertikales Scrollen erlauben */
    max-height: 100%;
    /* Begrenze die Höhe auf die Elternkomponente */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Inhalte oben ausrichten */
    align-items: flex-start;
    /* Inhalte links ausrichten */
}

.contacts-details-container {
    display: flex;
    flex-direction: column;
}

.contacts-container li {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contacts-container .underline-letter {
    border-bottom: 1px solid var(--color-light-gray);
    padding: 16px 32px;
    min-width: 320px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 10px;
    gap: 24px;
    padding: 16px;
}

.contact-info-container:hover {
    background-color: #f0f0f0;
}

.contact-info-container:active {
    background-color: var(--primary-blue);
    color: var(--bg-white);
}

.contact-info-container span {
    font-size: 16px;
    color: var(--color-blue);
}

.initials-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    font-size: 16px;
}

.initials-circle-big {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 3px solid var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    font-size: 24px;
}

.initials-circle:active {
    border: 2px solid var(--bg-white);
}

.initials-circle-big-person {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px solid var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    font-size: 24px;
    background-color: var(--color-light-gray);
    background-image: url(/assets/icons/person-white.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: slideIn 1s ease-in-out;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
}

.button-contacts {
    border: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.contact-details-overlay {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact-details-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    display: flex;
    width: clamp(700px, 90%, 1000px);
    height: clamp(450px, 60%, 592px);
    background: white;
    border-radius: 30px;
    overflow: hidden;
}

.overlay-left {
    background: #2c3e50;
    color: white;
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 16px;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 8px;
}

.overlay-right {
    position: relative;
    padding: 20px;
    width: 65%;
    align-items: center;
    gap: 24px;
}

.overlay-right>button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.input-width {
    width: clamp(350px, 100%, 422px);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (min-width: 1025px) {
    .add-new-contact-btn-mobile {
        display: none;
    }

    .contact-overlay {
        display: none;
    }

}

@media (max-width: 1024px) {
    .contacts-details-container {
        display: none;
    }

    .contacts-container {
        width: 100%;
        overflow-y: auto;
    }

    .contact-list-container {
        overflow-y: unset;
    }

    .add-new-contact-btn-desktop {
        display: none;
    }

    .add-new-contact-btn-mobile {
        bottom: 24px;
    }
}

@media (max-width: 768px) {
    .add-new-contact-btn-mobile {
        bottom: 124px;
    }
}

@media (max-width: 480px) {
    .contacts-container li {
        padding: 0;
    }

    .contact-info-container {
        gap: 16px;
        padding: 16px 12px;
    }

    .add-new-contact-btn-mobile {
        bottom: 104px;
    }

}