.section-contacts {
    display: flex;
}

.add-new-contact-btn-desktop {
    width: clamp(200px, 90%, 352px);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-mobile {
    position: fixed;
    bottom: 124px;
    right: 24px;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mobile-little-menu {
    position: fixed;
    bottom: 124px;
    right: 24px;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 100%, 456px);
    background-color: var(--bg-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    gap: 16px;
    padding-top: 16px;
}

.contact-list-container {
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.contacts-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts-container li {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contacts-container .underline-letter {
    border-bottom: 1px solid var(--color-light-gray);
    padding: 16px 32px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 10px;
    gap: 24px;
    padding: 16px;
}

.contact-info-container:hover {
    background-color: #f0f0f0;
}

.contact-info-container:active {
    background-color: var(--primary-blue);
    color: var(--bg-white);
}

.contact-info-container span {
    font-size: 16px;
    color: var(--color-blue);
}

.initials-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    font-size: 16px;
}

.initials-circle-big {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px solid var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    font-size: 32px;
}

.initials-circle:active {
    border: 2px solid var(--bg-white);
}

.initials-circle-big-person {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px solid var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    font-size: 24px;
    background-color: var(--color-light-gray);
    background-image: url(/assets/icons/person-white.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

#contactDetails {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#contactDetails.slide-in {
    transform: translateX(0);
}

#contactDetails.slide-out {
    transform: translateX(200%);
}

.initials-name-container {
    display: flex;
    gap: 24px;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
}

.button-contacts {
    border: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.button-contacts:hover {
    cursor: pointer;
}

.button-contacts-back {
    position: absolute;
    right: 24px;
    border: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.button-contacts-white {
    border: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.overlay-content {
    display: flex;
    width: clamp(700px, 90%, 1000px);
    height: clamp(450px, 60%, 592px);
    background: white;
    border-radius: 30px;
    overflow: hidden;
}

.overlay-left {
    background: #2c3e50;
    color: white;
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 16px;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 8px;
}

.overlay-right {
    position: relative;
    padding: 20px;
    width: 65%;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
}

.overlay-right>button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-details {
    display: none;
}

.little-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 16px 24px;
    border-radius: 10px 10px 0 10px !important;
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 120px;
    right: 8px;
}

.little-menu>button {
    justify-content: start;
}

.overlay:has(.little-menu) {
    background-color: transparent;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (min-width: 1025px) {
    .btn-mobile {
        display: none;
    }

    .btn-mobile-little-menu {
        display: none;
    }

    .contact-overlay {
        display: none;
    }

    .button-contacts-white {
        display: none;
    }
}

@media (max-width: 1024px) {
    .contacts-container {
        width: 100%;
        overflow-y: auto;
    }

    .contact-list-container {
        overflow-y: unset;
    }

    .add-new-contact-btn-desktop {
        display: none;
    }

    .btn-mobile {
        bottom: 24px;
    }

    .btn-mobile-little-menu {
        bottom: 24px;
    }

    .overlay-right {
        gap: 16px;
    }

    .button-contacts-white {
        display: none;
    }

    .input-width {
        width: 300px;
    }

    .name-container-ui {
        display: none;
    }
}

@media (max-width: 768px) {
    .btn-mobile {
        bottom: 124px;
    }

    .btn-mobile-little-menu {
        bottom: 124px;
    }

    .overlay-content {
        flex-direction: column;
        width: clamp(300px, 70%, 592px);
        height: 90%;
    }

    .overlay-left {
        position: relative;
        width: 100%;
        height: 40%;
    }

    .overlay-left>img {
        display: none;
    }

    .button-contacts-white {
        position: absolute;
        display: flex;
        top: 30px;
        right: 30px;
    }

    .overlay-right {
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
    }

    .initials-circle-big-person {
        position: absolute;
        top: -50px;
    }

    .position-initials-circle {
        position: absolute;
        top: -50px;
    }

    .overlay-right>button {
        display: none;
    }

    .cancel-btn {
        display: none !important;
    }

}

@media (max-width: 480px) {
    .contacts-container li {
        padding: 0;
    }

    .contact-list-container {
        width: 300px;
    }

    .contact-info-container {
        gap: 16px;
        padding: 16px 12px;
    }

    .btn-mobile {
        bottom: 104px;
    }

    .btn-mobile-little-menu {
        bottom: 104px;
    }

    .overlay-content {
        width: 100%;
        height: 100%;
    }

    .overlay-right {
        justify-content: space-evenly;
    }

    .input-width {
        width: 300px;
    }

    #contactDetailsOverlay {
        padding: 24px 8px;
    }

    .initials-name-container {
        gap: 16px;
    }

    .little-menu {
        bottom: 100px;
    }
}