*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
    border: 0px none #ffffff;
    border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(210, 0, 0);
}

*::-webkit-scrollbar-thumb:active {
    background: rgb(210, 0, 0);
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
    border: 0px none #ffffff;
    border-radius: 50px;
}

*::-webkit-scrollbar-track:hover {
    background: whitesmoke;
}

*::-webkit-scrollbar-track:active {
    background: #808080;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

