* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.jcac {
    justify-content: center;
    align-items: center;
}

.jsac {
    justify-content: start;
    align-items: center;
}

.jcas {
    justify-content: center;
    align-items: start;
}

.sb {
    justify-content: space-between;
}

.sa {
    justify-content: space-around;
}

.se {
    justify-content: space-evenly;
}

.je {
    justify-content: end;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.section-pad {
    padding: 48px 64px 16px;
}

.section-gap {
    gap: 16px;
}

@media (max-width:480px) {
    .section-pad {
        padding: 32px 16px 16px;
    }

    .section-gap {
        gap: 16px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .section_pad {
        padding: 32px 32px 16px;
    }

    .section_gap {
        gap: 16px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .section_pad {
        padding: 48px 64px 32px;
    }

    .section_gap {
        gap: 32px;
    }
}

@media (max-width:1440px) and (min-width:1025px) {
    .section-pad {
        padding: 48px 64px 32px;
    }

    .section-gap {
        gap: 64px;
    }
}

@media (max-width:1920px) and (min-width:1441px) {
    .section-pad {
        padding: 48px 100px 32px;
    }

    .section-gap {
        gap: 64px;
    }
}

@media (min-width:1921px) {
    .section-pad {
        /* calculation: (100% - 1920px)/2 = 50% - 960px */
        padding: 64px max(160px, calc(50% - 960px));
    }

    .section-gap {
        gap: 64px;
    }
}