* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.ft-47 {
    font-size: 47px;
}

.ft-20 {
    font-size: 20px;
}

.w-100 {
    width: 100%;
}

.d-none {
    display: none;
}

.dni {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.jcac {
    justify-content: center;
    align-items: center;
}

.jsac {
    justify-content: start;
    align-items: center;
}

.jcas {
    justify-content: center;
    align-items: start;
}

.sb {
    justify-content: space-between;
}

.sa {
    justify-content: space-around;
}

.se {
    justify-content: space-evenly;
}

.je {
    justify-content: end;
}

.ac {
    align-items: center;
}

.ae {
    align-items: end;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.section-pad {
    padding: 16px 50px;
}

.section-gap {
    gap: 16px;
}

.text-page {
    color: black;
    font-size: 16px;

    & h1 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    & h2 {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    & a {
        color: var(--color-light-blue);

        &:hover {
            text-decoration: underline;
        }
    }

    & p {
        margin-bottom: 16px;
    }

    & .heavy-points {
        & li::marker {
            font-weight: 700;
        }

        & li {
            padding-left: 8px;
        }
    }
}

@media (max-width:480px) {
    .section-pad {
        padding: 16px;
    }

    .section-gap {
        gap: 16px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .section_pad {
        padding: 130px 32px 16px;
    }

    .section_gap {
        gap: 16px;
    }
}



@media (max-width:1440px) and (min-width:1025px) {


    .section-gap {
        gap: 32px;
    }
}

@media (max-width:1920px) and (min-width:1441px) {


    .section-gap {
        gap: 64px;
    }
}

@media (min-width:1921px) {
    .section-pad {
         max-width: 1920px;
    }

    .section-gap {
        gap: 64px;
    }
}